In [1]:
import pandas as pd

In [2]:

df = pd.read_csv("data/casas.csv")

In [3]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [4]:
X = df.drop("preco", axis="columns")
y = df["preco"]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

In [7]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [10]:
print("coeficiente: %s" % modelo.coef_)
print("intercepto: %s" % modelo.intercept_)

coeficiente: [  830.00653222   762.09006126 25767.20537933]
intercepto: -1484640.8721676627

In [12]:
modelo.predict([[120, 2001, 2]])

/home/matheus/Documentos/projects/git/mlops-alura/venv/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([191436.53503831])