In [2]:
import pandas as pd

In [3]:

df = pd.read_csv("data/casas.csv")

In [4]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [5]:
colunas = ["tamanho", "preco"]
df = df[colunas]
df.head()

   tamanho   preco
0    159.0  208500
1    117.0  181500
2    166.0  223500
3    160.0  140000
4    204.0  250000

In [6]:
X = df.drop("preco", axis="columns")
y = df["preco"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

In [10]:
X_train.head()

      tamanho
135     156.0
1452    100.0
762     144.0
932     177.0
435     154.0

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [16]:
print("coeficiente: %s" % modelo.coef_)
print("intercepto: %s" % modelo.intercept_)

coeficiente: [1084.75077747]
intercepto: 27206.968559935078